<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h1 style="text-align: center">My Social</h1>
    <div th:each="post:${listPost}">
        <h3 th:text="${post.title}"></h3>
        <span th:text="${post?.user?.name}"></span>
        <p th:text="${post.content}"></p>
        <button th:id="${post.id}" class="btnLike" type="button">Like</button>
    </div>
    <div th:if="${listPost.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/listPost(size=${listPost.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==listPost.number + 1} ? active"></a>
    </div>
</body>
</html>