<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" th:src="@{/image/wave.png}">
<div class="container">
    <div class="img">
        <img th:src="@{/image/bg.png}">
    </div>
    <div class="login-content">
        <form id="loginForm">
            <img th:src="@{/image/avatar.png}">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Email</h5>
                    <input type="text" class="input" name="email" id="email">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" class="input" name="password" id="password">
                </div>
            </div>
            <div class="error-message" id="errorDiv" style="display: none;">
                <p id="errorMessage"></p>
            </div>
            <a href="#">Forgot Password?</a>
            <a th:href="@{/registerPage}">Register?</a>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Ngăn chặn việc gửi form mặc định

        var formData = new FormData(this);
        fetch("/login", {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.href = data.success;
            } else {
                document.getElementById("errorMessage").innerText = data.error;
                document.getElementById("errorDiv").style.display = "block";
            }
        })
        .catch(error => console.error("Error:", error));
    });
</script>
</body>
</html>
